@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ================= common css ================ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", serif;
}
html {
	scroll-behavior: smooth;
}
.container {
	max-width: 1344px;
	margin: 0 auto;
}
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	display: inline-block;
}
:root {
	--black: #000000;
	--white: #ffffff;
}

/*====================== Main css start ===========================*/

.navbar {
	background: #000000;
	padding: 20px 5px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0px;
}
.navbar .navbar-brand {
	padding: 0;
	margin: 0;
}
.navbar-nav {
	column-gap: 25px;
}
.navbar-nav li .nav-link {
	padding: 5px 34px;
	color: var(--white);
	font-weight: 500;
	font-size: 17px;
	position: relative;
}
.navbar-nav li .nav-link::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 0px;
	background: var(--white);
	top: 50%;
	left: 0;
	transition: 0.4s;
	transform: translatey(-50%);
}
.navbar-nav li .nav-link:hover:after {
	position: absolute;
	content: "";
	height: 25px;
	width: 2px;
	background: var(--white);
	top: 50%;
	left: -2px;
	transform: translatey(-50%);
}

.navbar .nav-link.active {
	color: var(--white);
	position: relative;
}
.navbar .nav-link.active::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 25px;
	background: var(--white);
	top: 95%;
	left: 50%;
	transform: translateX(-50%);
}
nav .navbar-brand img {
	height: 50px;
	background: var(--white);
	border-radius: 30%;
}
/* nav .nbtn a {
	padding: 11px 22px;
	border-radius: 30px;
	margin-left: 25px;
	transition: 0.4s;
	color: var(--white);
	background: none;
	border: 0;
	font-weight: bold;
	font-size: 17px;
}

nav .nbtn a:hover {
	box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
} */


/* From Uiverse.io by iZOXVL */ 
.boton-elegante {
	padding: 18px 32px;
	margin-left: 25px;
  border: 1px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}


/*====================== navbar end ===========================*/

#home_part {
	padding-top: 113px;
	background: #000;
	position: relative;
	z-index: 1;
}
#home_part::before {
	content: "";
	position: absolute;
	background: #d7d7d7;
	height: 100%;
	width: 100%;
	z-index: -1;
	clip-path: polygon(0 0, 58% 0, 42% 100%, 0 100%);
	top: 0;
	left: 0;
}
#home_part .container .row .main {
	max-width: 470px;
}
#home_part .container .row .text h3 {
	font-weight: bold;
	font-size: 35px;
	color: var(--black);
}
#home_part .container .row .text h2 {
	font-weight: bold;
	font-size: 65px;
	margin: 54px 0 0px;
	color: var(--black);
}
#home_part .container .row .text p {
	font-weight: 900;
	font-size: 23px;
	color: #909090;
}
#home_part .container .row .left .icon {
	margin-top: 53px;
	display: flex;
	justify-content: space-between;
}
#home_part .container .row .left .icon i {
	font-size: 22px;
	padding: 10px 12px;
	color: var(--black);
	background: #c4c4c4;
	border-radius: 10px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	transition: 0.3s;
}
#home_part .container .row .left .icon i:hover {
	transform: scale(1.05);
}

/* #home_part .container .row .left .icon a{
	background: #c4c4c4;
	padding: 10px 12px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(73, 73, 73, 0.39);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
	
}
#home_part .container .row .left .icon a:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	-0.5px -0.5px 0px rgba(255,255,255,1),
	0.5px 0.5px 0px rgba(0,0,0,0.15),
	0px 12px 10px -10px rgba(0,0,0,0.05);
border: 1px solid rgba(0,0,0,0.1);
transform: translateY(0.5em);
}
 #home_part .container .row .left .icon i{
	transition: transform 0.5s;
 }
 #home_part .container .row .left .icon a:hover i{
	transform: scale(0.9);
 } */







#home_part .container .row .main .linee {
  margin     : 100px 0 20px;
  text-align : center;
}

#home_part .container .row .right .right1 {
  display         : flex;
  align-items     : end;
  justify-content : center;
  overflow        : hidden;
}
#home_part .container .row .right img {
  height          : 877px;
  object-fit      : contain;
  margin          : 0 auto;
}

#home_part .container .main .abtn {
  margin-top      : 70px;
}
#home_part .container .main .abtn button {
  border-left     : 1px solid var(--black);
  border-right    : 1px solid var(--black);
  color           : var(--black);
}
#home_part .container .main .abtn button .ovr1,
#home_part .container .main .abtn button .ovr2 {
	background: var(--black);
}
#home_part .container .main .abtn button:hover {
	color: #ffffff;
}

/*====================== home_part end ===========================*/

#bio_part {
	padding: 54px 0;
	background: var(--black);
}
#bio_part .container .bio {
	max-width: 772px;
}
#bio_part .container .row .bio h3 {
	font-weight: bold;
	font-size: 30px;
	color: var(--white);
	letter-spacing: 18.54%;
}
#bio_part .container p {
	font-size: 15px;
	color: var(--white);
	line-height: 155.7%;
	margin: 35px 0;
}
.abtn button {
	font-size: 15px;
	font-weight: 600;
	color: var(--white);
	background: none;
	border-radius: 15px;
	border: 0;
	padding: 13px 34px;
	transition: 0.45s;
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	border-left: 1px solid var(--white);
	border-right: 1px solid var(--white);
	transition: 0.4s;
}
.abtn button:hover {
	color: #000000;
	box-shadow: rgba(255, 255, 255, 0.56) 0px 6px 40px 2px;
}
.abtn button .ovr1 {
	width: 0%;
	height: 0%;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.45s;
	border-radius: 0% 0% 100% 0%;
	z-index: -1;
}
.abtn button:hover .ovr1 {
	height: 100%;
	width: 100%;
}
.abtn button .ovr2 {
	width: 0%;
	height: 0%;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: 0.45s;
	border-radius: 180% 0% 0% 0%;
	z-index: -1;
}
.abtn button:hover .ovr2 {
	height: 100%;
	width: 100%;
}
.btnnn button {
	font-size: 15px;
	font-weight: 600;
	color: var(--white);
	background: none;
	border-radius: 15px;
	border: 0;
	padding: 13px 34px;
	transition: 0.45s;
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	border-left: 1px solid var(--white);
	border-right: 1px solid var(--white);
	transition: 0.4s;
}

/*====================== bio_part end ===========================*/

#about_me_part {
	padding: 180px 0 130px;
	background: radial-gradient(
		circle,
		rgba(238, 234, 243, 0.432) 0%,
		rgb(160, 161, 161) 100%
	);
}
.container .header h2 {
	font-size: 30px;
	display: inline-block;
	padding: 20px 35px;
	font-weight: bold;
	color: var(--black);
	letter-spacing: 15.54px;
	border: 4px solid var(--black);
	box-shadow: rgb(33, 37, 41, 1) 5px 5px, rgb(240, 240, 240, 0.5) 10px 10px;
}
#about_me_part .container .header p {
	margin: 95px auto 80px;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	max-width: 1000px;
	line-height: 138.7%;
}
#about_me_part .container .header p span {
	display: block;
	text-align: left;
	margin-top: 15px;
}
#about_me_part .container .line02 {
	text-align: center;
	margin: 95px 0 100px;
}
#about_me_part .container .abtn button {
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	color: var(--black);
}
#about_me_part .container .abtn button .ovr1,
#about_me_part .container .abtn button .ovr2 {
	background: var(--black);
}
#about_me_part .container .abtn button:hover {
	color: #ffffff;
}

/*====================== about_me_part end ===========================*/

#about_me_skill_part {
	padding: 70px 0 50px;
	background: radial-gradient(
		circle,
		rgba(238, 234, 243, 0.432) 0%,
		rgb(208, 209, 209) 100%
	);
}
#about_me_skill_part .container .about_me_skill_part {
	margin-bottom: 80px;
}
#about_me_skill_part .container .row h3 {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 18.54%;
	margin-bottom: 30px;
}
#about_me_skill_part .container .row p {
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
}
#about_me_skill_part .container .line02 {
	text-align: center;
	margin: 95px 0 100px;
}

/*====================== about_me_skill_part end ===========================*/

#skills_part {
	padding: 180px 0;
	background: radial-gradient(
		circle,
		rgba(238, 234, 243, 0.432) 0%,
		rgb(160, 161, 161) 100%
	);
}
#skills_part .container .row {
	margin-top: 95px;
}
#skills_part .container .row h3 {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 18.54%;
	color: var(--black);
}
#skills_part .container .row {
	row-gap: 65px;
}
#skills_part .container .row .part img {
	height: 85px;
	object-fit: contain;
}
#skills_part .container .row .part p {
	margin-top: 30px;
	color: var(--black);
	font-size: 24px;
	letter-spacing: 13.54%;
	font-weight: bold;
}

/*====================== skills_part end ===========================*/

#portfolio_part {
	padding: 180px 0 50px;
	background: rgb(33, 37, 41);
}
#portfolio_part .container .main .row {
	margin-top: 140px;
	padding: 12px;
	row-gap: 80px;
	flex-wrap: wrap;
}
#portfolio_part .container .main .header h2 {
	color: var(--white);
	border-color: var(--white);
}
#portfolio_part .container .main .row img {
	height: 350px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: 0.4s;
	-webkit-box-shadow: 0px 0px 8px 2px rgb(240, 240, 240);
	-moz-box-shadow: 0px 0px 8px 2px rgb(240, 240, 240);
	box-shadow: 0px 0px 8px 2px rgb(240, 240, 240);
}
#portfolio_part .container .main .row .coverr a:hover img {
	border-radius: 8px;
	transform: scale(1.03);
}
#portfolio_part .container .main .row .text {
	text-align: end;
}
#portfolio_part .container .main .row .text h3 {
	color: var(--white);
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 18.54%;
}
#portfolio_part .container .main .row .text p {
	color: var(--white);
	margin: 25px 0;
	font-size: 18px;
	font-weight: 300;
	max-width: 1000px;
	line-height: 138.7%;
}
#portfolio_part .container .main .row .abtn {
	display: flex;
	column-gap: 25px;
}
#portfolio_part .container .main .row .abtn button:hover {
	color: var(--white);
}
#portfolio_part .container .main .partt .row:nth-child(odd),
#portfolio_part .container .main .partt .row:nth-child(odd) .abtn {
	flex-direction: row-reverse;
}
#portfolio_part .container .main .partt .row:nth-child(odd) .text {
	text-align: start;
}
#portfolio_part .container .main .partt .row:nth-child(odd) .coverr {
	text-align: end;
}
#portfolio_part .container .ending {
	color: var(--white);
	margin: 80px 0 0;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
}

/*====================== portfolio_part end ===========================*/

#contact_part {
	padding: 180px 0 62px;
	background: radial-gradient(
		circle,
		rgba(238, 234, 243, 0.432) 0%,
		rgb(160, 161, 161) 100%
	);
}
#contact_part .container .header p {
	margin: 72px auto;
	max-width: 763px;
	font-size: 15px;
	line-height: 138.7%;
	color: var(--black);
}
/* #contact_part .container form input {
	color: var(--black);
	outline: none;
	background: transparent;
	padding: 18px 19px 14px;
	margin-bottom: 55px;
	width: 70%;
	border: 0;
	border-left: 5px solid var(--black);
	border-bottom: 5px solid var(--black);
} */
/* #contact_part .container form input::placeholder {
	color: #8b8b8b;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4%;
	
}
  */
.input-container {
  position: relative;
  margin: 50px auto;
  max-width: 550px;
}

.input-container textarea,
.input-container input[type="number"],
.input-container input[type="email"] ,
.input-container input[type="text"] {
  font-size: 14px;
  width: 100%;
	border: 0;
	border-left: 5px solid var(--black);
	border-bottom: 5px solid var(--black);
	padding: 11px 17px;
  background-color: transparent;
  outline: none;
}


.input-container .label {
  position: absolute;
  top: 5px;
  left: 20px;
  transition: all 0.3s ease;
  pointer-events: none;
	color: #8b8b8b;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4%;
}

.input-container input[type="email"]:focus ~ .label,
.input-container input[type="email"]:valid ~ .label,
.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="number"]:focus ~ .label,
.input-container input[type="number"]:valid ~ .label{
  top: -20px;
  font-size: 14px;
  color: #353434;
	font-weight: 550;
}

#contact_part .container form textarea::placeholder {
	color: #8b8b8b;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 4%;
} 
#contact_part .container .abtn button {
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	color: var(--black);
}
#contact_part .container .abtn button .ovr1,
#contact_part .container .abtn button .ovr2 {
	background: var(--black);
}
#contact_part .container .abtn button:hover {
	color: #ffffff;
}

/*====================== footer end ===========================*/

footer {
	padding: 69px 0;
	background: #1a1a1a;
}
footer .container .back_to {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
footer .container .back_to a,
footer .container .back_to a i {
	color: var(--white);
}
footer .container .icon {
	display: flex;
	justify-content: center;
	column-gap: 28px;
}
footer .container .icon a i {
	color: var(--white);
	font-size: 30px;
	margin: 45px 0;
}
footer .container p {
	color: var(--white);
	font-size: 16px;
	text-align: center;
}

/* ================= */


/* From Uiverse.io by doniaskima 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
	margin-left: 25px;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
} */
