
@import "tailwindcss";

@theme {
  --font-display: "Oswald", "sans-serif"; 
  --font-primary: "GT-Walsheim", "sans-serif"; 
  --font-secondary: "Suisse", "sans-serif"; 
}

@font-face {
  font-family: GT-Walsheim;
  src: url("../src/assets/Font/GT-Walsheim-Condensed-Regular-.otf") format("opentype");
}
@font-face {
  font-family: Suisse;
  src: url("../src/assets/Font/suisse-intl-regular.ttf") format("truetype");
}

